.idea/*
*.osu
*.zip
*.csv
*.db
*.pkl
*.npz
*.rar
data/**/*.pkl
*.pygtex
*.pygstyle
*.bbl
*.bcf
*.blg
*.aux
*.synctex.gz
*.osr
lightning_logs/
models/
.streamlit/
poetry.lock
.data/

.run/
__pycache__/
*.bz2
